/* General */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f3f3f3;
    line-height: 1.6;
  }
  
  /* Encabezado */
  .header {
    text-align: center;
    background: linear-gradient(45deg, #0066ff, #00ccff);
    color: white;
    padding: 2rem 1rem;
    position: relative;
  }
  
  .header .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 4px solid #ffffff;
  }
  
  .header h1 {
    font-size: 2.5rem;
    margin: auto;
  }
  
  .header p {
    font-size: 1.2rem;
    margin: 0.3rem 0;
  }
  
  /* Contactos */
  .contact {
    text-align: center;
    padding: 1rem;
    background-color: #ffffff;
  }
  
  .contact-icons .icon {
    margin: 0 10px;
    font-size: 2rem;
    color: #0066ff;
    text-decoration: none;
  }
  
  .contact-icons .icon:hover {
    color: #0033cc;
  }
  
  /* Proyectos */
  .projects {
    padding: 2rem 1rem;
    text-align: center;
  }
  
  .projects .project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
  }
  
  .project {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .project:hover {
    transform: translateY(-5px);
  }
  
  .project img {
    width: 100%;
    height: 200px;
    object-fit: fill;
  }
  
  .project h3 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
  }
  
  .project p {
    padding: 0 1rem;
    font-size: 1rem;
    color: #555;
  }
  
  .project button {
    margin: 1rem;
    padding: 0.5rem 1rem;
    background-color: #0066ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .project button:hover {
    background-color: #0033cc;
  }
  
  /* Pie de página */
  .footer {
    text-align: center;
    padding: 1rem;
    background: #333;
    color: #fff;
  }