/* General */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #f3f3f3;
  line-height: 1.6;
  display: flex;
  justify-content: center;
}

main {
  max-width: 900px;
  margin: auto;
}

/* Proyectos */
.projects .project-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: white;
  border: 1px solid #ddd;
  padding: 1rem;
}

.project img {
  width: 40%;
  border-radius: 8px;
}

.project-content {
  flex: 1;
}

.project-alternate {
  flex-direction: row-reverse;
}
